apiVersion: v1
kind: ConfigMap
metadata:
#  name: {{ include "amq-broker.fullname" . }}
  name: broker-config
  labels:
  {{- include "amq-broker.labels" . | nindent 4 }}
data:
  broker.xml: | 
    <?xml version="1.0" ?>
    <configuration xmlns="urn:activemq" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xi="http://www.w3.org/2001/XInclude" xsi:schemaLocation="urn:activemq /schema/artemis-configuration.xsd">
        <core xmlns="urn:activemq:core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:activemq:core">

            <name>${AMQ_NAME}</name>
            <persistence-enabled>true</persistence-enabled>
            <journal-type>NIO</journal-type>
            <paging-directory>/opt/{{ include "amq-broker.fullname" . }}/data/paging</paging-directory>
            <bindings-directory>/opt/{{ include "amq-broker.fullname" . }}/data/bindings</bindings-directory>
            <journal-directory>/opt/{{ include "amq-broker.fullname" . }}/data/journal</journal-directory>
            <large-messages-directory>/opt/{{ include "amq-broker.fullname" . }}/data/large-messages</large-messages-directory>
            <journal-datasync>true</journal-datasync>
            <journal-min-files>2</journal-min-files>
            <journal-pool-files>10</journal-pool-files>
            <journal-device-block-size>4096</journal-device-block-size>
            <journal-file-size>10M</journal-file-size>
            <disk-scan-period>5000</disk-scan-period>
            <max-disk-usage>90</max-disk-usage>
            <critical-analyzer>true</critical-analyzer>
            <critical-analyzer-timeout>120000</critical-analyzer-timeout>
            <critical-analyzer-check-period>60000</critical-analyzer-check-period>
            <critical-analyzer-policy>HALT</critical-analyzer-policy>

            <connectors>
                <connector name="artemis">tcp://${BROKER_IP}:61616</connector>
            </connectors>

            <acceptors>
                <acceptor name="all">tcp://${BROKER_IP}:61617?protocols=AMQP,CORE,HORNETQ,MQTT,OPENWIRE,STOMP;tcpSendBufferSize=1048576;tcpReceiveBufferSize=1048576;useEpoll=true;amqpCredits=1000;amqpMinCredits=300</acceptor><acceptor name="scaleDown">tcp://mycluster-amq-broker-ss-0.mycluster-amq-broker-hdls-svc.dxc-broker.svc.cluster.local:61616?protocols=CORE;tcpSendBufferSize=1048576;tcpReceiveBufferSize=1048576;useEpoll=true;amqpCredits=1000;amqpMinCredits=300</acceptor>
                <!-- acceptor name="all">tcp://${BROKER_IP}:61617?protocols=AMQP,CORE,HORNETQ,MQTT,OPENWIRE,STOMP;sslEnabled=true;keyStorePath=/etc/tls-secret-volume/broker.ks;keyStorePassword=changeit;trustStorePath=/etc/tls-secret-volume/client.ts;trustStorePassword=changeit;sslProvider=JDK;tcpSendBufferSize=1048576;tcpReceiveBufferSize=1048576;useEpoll=true;amqpCredits=1000;amqpMinCredits=300</acceptor -->
                <acceptor name="scaleDown">tcp://${BROKER_IP}:61616?protocols=CORE;tcpSendBufferSize=1048576;tcpReceiveBufferSize=1048576;useEpoll=true;amqpCredits=1000;amqpMinCredits=300</acceptor>
            </acceptors>

            <cluster-user>${AMQ_CLUSTER_USER}</cluster-user>
            <cluster-password>${AMQ_CLUSTER_PASSWORD}</cluster-password>

            <broadcast-groups>
                <broadcast-group name="my-broadcast-group">
                    <jgroups-file>jgroups-ping.xml</jgroups-file>
                    <jgroups-channel>activemq_broadcast_channel</jgroups-channel>
                    <connector-ref>artemis</connector-ref>
                </broadcast-group>
            </broadcast-groups>

            <discovery-groups>
                <discovery-group name="my-discovery-group">
                    <jgroups-file>jgroups-ping.xml</jgroups-file>
                    <jgroups-channel>activemq_broadcast_channel</jgroups-channel>
                    <refresh-timeout>10000</refresh-timeout>
                </discovery-group>
            </discovery-groups>

            <cluster-connections>
                <cluster-connection name="my-cluster">
                    <connector-ref>artemis</connector-ref>
                    <retry-interval>1000</retry-interval>
                    <retry-interval-multiplier>2</retry-interval-multiplier>
                    <max-retry-interval>32000</max-retry-interval>
                    <initial-connect-attempts>20</initial-connect-attempts>
                    <reconnect-attempts>10</reconnect-attempts>
                    <use-duplicate-detection>true</use-duplicate-detection>
                    <message-load-balancing>ON_DEMAND</message-load-balancing>
                    <max-hops>1</max-hops>
                    <discovery-group-ref discovery-group-name="my-discovery-group" />
                </cluster-connection>
            </cluster-connections>

            <security-settings>
                <security-setting match="#">
                    <permission type="createNonDurableQueue" roles="admin" />
                    <permission type="deleteNonDurableQueue" roles="admin" />
                    <permission type="createDurableQueue" roles="admin" />
                    <permission type="deleteDurableQueue" roles="admin" />
                    <permission type="createAddress" roles="admin" />
                    <permission type="deleteAddress" roles="admin" />
                    <permission type="consume" roles="admin" />
                    <permission type="browse" roles="admin" />
                    <permission type="send" roles="admin" />
                    <permission type="manage" roles="admin" />
                </security-setting>
            </security-settings>

            <address-settings>
                <address-setting match="activemq.management#">
                    <dead-letter-address>DLQ</dead-letter-address>
                    <expiry-address>ExpiryQueue</expiry-address>
                    <redelivery-delay>0</redelivery-delay>
                    <max-size-bytes>-1</max-size-bytes>
                    <message-counter-history-day-limit>10</message-counter-history-day-limit>
                    <address-full-policy>PAGE</address-full-policy>
                    <auto-create-queues>true</auto-create-queues>
                    <auto-create-addresses>true</auto-create-addresses>
                    <auto-create-jms-queues>true</auto-create-jms-queues>
                    <auto-create-jms-topics>true</auto-create-jms-topics>
                </address-setting>
                <address-setting match="#">
                    <redistribution-delay>0</redistribution-delay>
                    <dead-letter-address>DLQ</dead-letter-address>
                    <expiry-address>ExpiryQueue</expiry-address>
                    <redelivery-delay>0</redelivery-delay>
                    <max-size-bytes>-1</max-size-bytes>
                    <message-counter-history-day-limit>10</message-counter-history-day-limit>
                    <address-full-policy>PAGE</address-full-policy>
                    <auto-create-queues>true</auto-create-queues>
                    <auto-create-addresses>true</auto-create-addresses>
                    <auto-create-jms-queues>true</auto-create-jms-queues>
                    <auto-create-jms-topics>true</auto-create-jms-topics>
                </address-setting>

                <address-setting match="#">
                    <redelivery-delay>1000</redelivery-delay>
                    <max-size-bytes>52428800</max-size-bytes>
                    <address-full-policy>PAGE</address-full-policy>
                    <auto-create-dead-letter-resources>true</auto-create-dead-letter-resources>
                    <dead-letter-queue-suffix>.eq</dead-letter-queue-suffix>
                    <auto-create-expiry-resources>true</auto-create-expiry-resources>
                    <expiry-queue-suffix>.eq</expiry-queue-suffix>
                </address-setting>
            </address-settings>


            <addresses>
                <address name="DLQ">
                    <anycast>
                        <queue name="DLQ" />
                    </anycast>
                </address>
                <address name="ExpiryQueue">
                    <anycast>
                        <queue name="ExpiryQueue" />
                    </anycast>
                </address>
                <address name="TestQueue">
                    <anycast>
                        <queue name="TestQueue" />
                    </anycast>
                </address>
            </addresses>

        </core>

    </configuration>